<div class="container">
  <div class="row">
    <div class="col align-self-center">
      <div class="title">
        <h3>My Address Book</h3>
      </div>
    </div>
  </div>
  <div class="container  contact">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
      <div class="firstbox">
        <div class="boxAvatar">
          <img class="avatar" src="../../assets/profile.png">
        </div>
        <div class="name">
          <br>{{contacts[x].name}} <span>{{contacts[x].num}}</span>
        </div>
        <div class="icon">
          <img style="padding: 2%;  height: 30px;" src="../../assets/phone.png" alt="">
          <img style="padding: 2%;  height: 30px;" src="../../assets/skype.png" alt="">
          <img style="padding: 2%;  height: 30px;" src="../../assets/mail.png" alt="">
        </div>
      </div>
    </div>
  </div>